<h2> Edit Recipe </h2>

<% if @recipe.errors.any? %>
  <h3> Please fix these errors: </h3>
  <ul>
    <% @recipe.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="recipe_name">Name:</label>
   <textarea id="recipe_name" name="recipe[name]" type="text" rows="1" cols="80"><%= @recipe.name %></textarea>
  <p><label for="recipe_recipe">Recipe:</label></p>
  <p><textarea id="recipe_recipe" name="recipe[recipe]" rows ="3" cols ="80"><%= @recipe.recipe %></textarea></p>
  <button>Update Recipe</button>
</form>

